<!DOCTYPE html>
<html>
    <form action="/api/NK/{{nhankhau['func']}}/apply" method="post">
        <head>
            <title>{{nhankhau['title']}}</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_form_nhankhau.css') }}">
        </head>
        <body>
          <div class="form-container">
            <form id="registrationForm">
                <h2>{{nhankhau['form_name']}}</h2>
                <label for="cccd">CCCD:</label>
                <input type="text" id="cccd" name="CCCD" required onchange="updateFormCCCD()"><br>
                <label for="hoTen">Họ và Tên:</label>
                <input type="text" id="hoTen" name="HO_TEN" required><br>
                <label for="ngaySinh">Ngày Sinh:</label>
                <input type="date" id="ngaySinh" name="NGAY_SINH" required><br>
                <label for="quanHe">Quan Hệ:</label>
                <input type="text" id="quanHe" name="QUAN_HE"><br>
                <label for="tinhTrangCuTru">Tình Trạng Cư Trú:</label>
                <select id="tinhTrangCuTru" name="TINH_TRANG_CU_TRU">
                    <option value="Yes">Permanent</option>
                    <option value="No">Temporary</option>
                </select><br>
                <label for="idHo">ID Hộ:</label>
                <input type="text" id="idHo" name="ID_HO"><br>
                <button type="submit">Submit</button>
            </form>
          </div>
            <script src="{{ url_for('static', filename='js/form_nhankhau.js') }}"></script>
          <script>
            function updateFormCCCD() {
              if ("{{nhankhau['func']}}"=='update'){
                var cccd = document.getElementById('cccd').value;
                fetch(`/api/getFormCCCD?cccd=${cccd}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('CCCD không tồn tại!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('hoTen').value = data.hoTen;
                        document.getElementById('ngaySinh').value = data.ngaySinh;
                        document.getElementById('quanHe').value = data.quanHe;
                        document.getElementById('tinhTrangCuTru').value = data.tinhTrangCuTru;
                        document.getElementById('idHo').value = data.idHo;
                    })
                    .catch(error => {
                      console.error('Error:', error);
                      alert(error.message);
                      document.getElementById('hoTen').value = ''; 
                      document.getElementById('ngaySinh').value = '';
                      document.getElementById('quanHe').value = '';
                      document.getElementById('tinhTrangCuTru').value = '';
                      document.getElementById('idHo').value = '';
                    });
                  }
            }

          </script>
        </body>
</form>
</html>
