<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>BlueMoon</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
  </head>
  <body>

    <header>
        <h1 class="BlueMoon">BlueMoon</h1>
        <nav class ="navigation">
    
            <a href="#">About</a>
            <a href="#">Services</a>
            <b href="#">Contact</b>

        <button class="btnLogin-popup">Login</button>
       
      
        </nav>
    </header>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>

        <div class="form-box login">
            <h2>Login</h2>
                    <span class="BlueMoonmanagement" onclick="window.open('https://www.youtube.com/watch?v=w0AOGeqOnFY', '_blank')">
                        BlueMoon management
                    </span>
                <img src="{{ url_for('static', filename='img/logo.svg')}}" alt="logo" class="logo">

                <button class="btn" onclick="location.href='/login'">Login</button>
                <div class="login-register">
                    <p>Don't have an account?<a href="#"
                    class="register-link">Register</a></p>
                </div>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="#">
               
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                    <input type="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">
                    I agree to the terms & conditions</label></div>
                    
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <button class="btn btn-primary" type="button">Send request
                    </button>
                <div class="login-register">
                    <p>Already have an account?<a href="#"
                    class="login-link">Login</a></p>
                </div>
            </form>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/script_home.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
