<!DOCTYPE html>
<html lang="en">

    {% include 'main_design/history_design.html' %}



<!-- Bảng Thu Chi -->
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <h6 class="m-0 font-weight-bold text-primary">Quản lý Phí chưa đóng</h6>
                  <div class="form-container">
                    <input type="number" id="month" class="form-ngay" onchange="checkUnPaid()" placeholder="Tháng">
                    <input type="number" id="year" class="form-ngay" onchange="checkUnPaid()" placeholder="Năm">
                  </div>
              </div>
            </div>
            <div class="card-body">
                <div class="form-row mb-3" id='search-box'>
                    <!-- Ô dropdown (hộp chọn) -->
                    <div class="col-md-4">
                        <select class="form-control" id="incomeExpenseFilterSelect">
                            <option value="all">Tất cả</option>
                            <option value="ID_DICH_VU">ID dịch vụ</option>
                            <option value="TEN_DICH_VU">Tên dịch vụ</option>
                            <option value="ID_HO">ID hộ</option>
                            <option value="CAN_PHAI_DONG">Cần phải đóng</option>
                            <option value="ngay">Ngày</option>
                        </select>
                    </div>
                    <!-- Ô tìm kiếm -->
                    <div class="col-md-8">
                        <input type="text" id="incomeExpenseSearchInput" class="form-control" placeholder="Nhập để tìm kiếm...">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID dịch vụ</th>
                                <th>Tên dịch vụ</th>
                                <th>ID hộ</th>
                                <th>Cần phải đóng</th>
                                <th>Ngày</th>
                            </tr>
                        </thead>
                        <tbody id="dataTableBody">
                          
                        </tbody>
                    </table>
                </div>
                <script>
                  // Example data from the database   
                  var expenseData = JSON.parse('{{ user["data"] | tojson | safe }}');
                  function insertDataToTable(data) {
                    var dataTableBody = document.getElementById('dataTableBody');
                    data.forEach(function(item) {
                        var row = `<tr>
                            <td>${item.ID_DICH_VU}</td>
                            <td>${item.TEN_DICH_VU}</td>
                            <td>${item.ID_HO}</td>
                            <td>${item.CAN_PHAI_DONG}</td>
                            <td>${item.ngay}</td>
                        </tr>`;
                        dataTableBody.innerHTML += row;
                    });
                  }

                  function deleteDataFromTable() {
                    var dataTableBody = document.getElementById('dataTableBody');
                    dataTableBody.innerHTML = '';
                }
                  // Call this function when you've retrieved your data from the database
                  insertDataToTable(expenseData);
                  </script>
            </div>
        </div>
    </div>
</div>

<!-- Thêm script JavaScript để thực hiện chức năng tìm kiếm và lọc -->
<script>
    document.getElementById("incomeExpenseSearchInput").addEventListener("keyup", function () {
        filterdataTable();
    });

    document.getElementById("incomeExpenseFilterSelect").addEventListener("change", function () {
        filterdataTable();
    });

    function filterdataTable() {
        var input, filter, table, tr, td, i, txtValue, filterValue;
        input = document.getElementById("incomeExpenseSearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        filterValue = document.getElementById("incomeExpenseFilterSelect").value;

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[getColumnIndex(filterValue)];
            if (td) {
                if (td.querySelector("input")) txtValue = td.querySelector("input").value;
                else txtValue = td.textContent || td.innerText;

                if ((filterValue === "all" || txtValue.toUpperCase().indexOf(filter) > -1)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function getColumnIndex(filterValue) {
        switch (filterValue) {
            case "ID_DICH_VU":
                return 0;
            case "TEN_DICH_VU":
                return 1;
            case "ID_HO":
                return 2;
            case "CAN_PHAI_DONG":
                return 4;
            case "ngay":
                return 5;
            default:
                return 0;
        }
    }

    function checkUnPaid() {
        var month = document.getElementById('month').value;
        var year = document.getElementById('year').value;
        if (month && year){
            fetch(`/api/checkUnPaid?year=${year}&month=${month}`)
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                                                        // Throw an error with the message from your Flask application
                                                        throw new Error(errorData.error);
                                                    });
                    }
                    return response.json();
                })
                .then(data => {
                    deleteDataFromTable()
                    insertDataToTable(data.data); // Update the price
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert(error.message);
                    document.getElementById('month').value = '';
                    document.getElementById('year').value = '';
                });
        }
    }


    {
      var  tableHead = document.getElementById("dataTable").getElementsByTagName('thead')[0];
      var list_name = tableHead.querySelectorAll('th');
      var finale = "";
      number_column = list_name.length;
      for (let i = 0; i < number_column; i++) {
        finale += `<th> <input id="Filter${i}" placeholder="Filter"> </th>`;
      }
      tableHead.innerHTML += `<tr>${finale} </tr>`;
      for (let i = 0; i < list_name.length; i++) {
        document.getElementById(`Filter${i}`).addEventListener("keyup", function () {
          FilterRemaster();
        });
      }
      function FilterRemaster() {
        var table = document.getElementById("dataTable");
        var tr = table.getElementsByTagName("tr");
        var input = new Array(number_column);
        for (let i = 0; i < number_column; i++) {
          input[i] = document.getElementById(`Filter${i}`).value.toUpperCase();
        }
        var TextValue;
        for (let i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName('td');
          var flag = true;
          for (let j = 0; j < number_column; j++) {
            if (td[j]) {
              if (td[j].querySelector('input')) {
                TextValue = td[j].querySelector('input').value;
              }
              else {
                TextValue = td[j].textContent || td[j].innerText;
              }
              if (TextValue.toUpperCase().indexOf(input[j]) == -1) {
                flag = false;
                break;
              }
            }
          }
          if (flag) {
            tr[i].style.display = "";
          }
          else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
