{% include 'main_design/header.html' %}

<body id="page-top">
  <!-- Page Wrapper -->
{% include 'main_design/page_wrapper.html' %}

{% include 'main_design/nhankhau_formain.html' %}

{% include 'main_design/hokhau_formain.html' %}

{% include 'main_design/thuchi_formain.html' %}

{% include 'main_design/dichvu_formain.html' %}

{% include 'main_design/report_formain.html' %}


<!-- Divider -->
<hr class="sidebar-divider">

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
{% include 'main_design/content_wrapper.html' %}

{% include 'main_design/dashboard.html' %}

<!-- ADDING -->
{% include 'functionality/add.html' %}

<!-- DELETING -->
{% include 'functionality/delete.html'%}

<!-- UPDATING -->
{% include 'functionality/update.html'%}

<!-- End of Content Wrapper -->
<div class="container-fluid">