<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/api/RP">
        <ion-icon name="alert-circle"></ion-icon>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Danh sách báo cáo</span></a>
  </li>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>